* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: "Outfit", sans-serif;
    height: 100vh;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,151,163,1) 100%); */
    color: white;
    overflow-x: hidden;
}

.undersign{
    position: relative;
    margin: 10px 20px;
}

.undersign::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, red, blue);
    border-radius: 50%;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0%;

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.817); */
    transition: background-color 0.5s ease, opacity 0.5s ease;
    /* Smooth transition */

}

#header div {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;
}

#header div h1 {
    font-size: 25px;
    padding: 16px 15px 15px 15px;
    border-radius: 15px;
    background: linear-gradient(to right, #003896 -88%, #000000 100%);
}


.navbar {
    display: flex;
    align-content: right;
    justify-content: center;
    gap: 1.4rem;
    list-style: none;
    padding: 20px;
    background: linear-gradient(to right, #003896 -135%, #000000 100%);
    border-radius: 12px;
    z-index: 100;
}

.navbar li a {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    /* position: relative;
    transition: 0.35s ease; */
}

/* .navbar li a:hover {
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.681) ;  
      border-radius: 8%;

} */


section {
    height: 100%;
    width: 100%;

}



#home {
    background-image: url(homebg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 99vw;
    z-index: 1;
}

#datetime{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
#date{
    color: white;
}

#time{
    color: white;
}
.homes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 237px;
}

.homes h1 {
    font-size: 3rem;
}

#about {
    padding: 0px 20px;
    margin: 8rem 0px;
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(92,151,163,1) 100%); */
}

.about-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 2.5px solid white; */
    border-radius: 10px;
    padding: 5rem;
    /* margin: 50px 0px;  */
    /* box-shadow: 1px 3px 3px white; */
}

.about_sec {
    padding: 10px;
    height: 100%;
    width: 740px;
}

.about_left {
    display: flex;
    flex-direction: column;
    gap: 85px;
    justify-content: center;
    align-items: center;

}

.about_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_right h2 {
    font-size: 2rem;
    margin-top: 0;
}

.about_right div {
    /* margin-top: 36px; */
}

.about_right div p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 14px 0px;
}

img {
    width: 290px;
    height: 375px;
    border-radius: 10px;
    margin: 10px;
}

.intro_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.intro_1 img:hover{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}
.intro_2 li {
    display: flex;

    gap: 20px;
    margin: 10px 0px;
}


#services {
    margin: 210px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(2,0,36); */
/* background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(92,151,163,1) 100%); */
}

#services h1 {
    font-size: 5rem;
}

.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.services_grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    width: 80vw;

}

.services_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 430px;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid white;
}
.services_card:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 550px;
    transition: width 0.5s ease;
    .services_img{
        border: 2px solid rgb(0, 0, 0);
    };
}

.services_img {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background-color: #ffffff0d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid white;
}

.services-page div i {
    transform: scale(0.9);
}

.services_card p {
    text-align: center;
}


span{
    color: blue;
}
#work h1 {
    font-size: 5rem;
}
.work_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.work_cards{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.work_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    padding: 30px 10px;
    padding-top: 5px;
    border: 2px solid white;
}
.work_card img:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 500px;
    transition: width 0.5s ease;
    z-index: 1;
}
.work_card img{
    width: 100%;
}
.work_detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.work_detail a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 40%;
}
.workinfo{
    margin: 10px;
}
#contact {
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(92,151,163,1) 100%);     */
    justify-content: center; 
    align-items: center;
    display: flex;
    margin: 100px 0px;
}

.contact_page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.contact_details {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.contact_details h1 {
    font-size: 4rem;
}


.location-display {
    margin: 20px;
    border: 10px solid white;

}



.contact_links {
    display: flex;
    gap: 20px;
    margin: 10px;
}
.contact_details i{
    color: blue;
}.contact_details a i{
    color: rgb(255, 255, 255);
    padding: 2px;
}

.contact_links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
}
.contact_links a::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #003896 -45%, #000000 100%);
    border-radius: 15px;
    height: 105%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: -2;
}

.footer-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    background: linear-gradient(to right, red, blue);
    font-size: 15px;

}
.body::-webkit-scrollbar {
    display: none;
}


